nav {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    width: fit-content;
    height: fit-content;
}

.nav-button {
    color: white;
    gap: 100px;
    align-items: left;
    background: #0d0251;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
    outline: none;
    appearance: none;
}

.nav-button svg {
    width: 30px;
    height: 30px;
    stroke: white;
    margin: 0px;
    cursor: pointer;
}

.logo-image {
    top: 0px;
    left: 25px;
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.logo-image img {
    width: 100px;
    height: auto;
    display: block;
}

.sidebar {
    background-color: #0d0251;
    width: 150px;
    position: fixed;
    left: 0;
    top: 0;
    height: 700px;
    outline: white;
}

.home-content {
    margin-right: 200px;
    padding: 20px;
}

.main-content {
    background-color: #24058a;
    min-height: 700px;
    width: calc(100% - 143px);
    top: 0;
    right: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    outline: white;
}