body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 40px;
    background: #100651;
    color: #ffffff;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: #ffffff;
    ;
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

p {
    font-size: 20px;
}