body {
    margin: 0;
    padding: 0;
    background-color: #24058a;
    color: #ffffff;
}

nav {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 40px;
    width: fit-content;
    height: fit-content;
}

.nav-button {
    color: white;
    gap: 100px;
    align-items: left;
    background: #0d0251;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: none;
    outline: none;
    appearance: none;
    transition: 0.3s ease;
}

.nav-button svg {
    width: 30px;
    height: 30px;
    stroke: white;
    margin: 0px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #241177;
    box-shadow: 0 0 15px #4c1abb;
}

.logo-image {
    top: 0px;
    left: 25px;
    width: 100px;
    height: 100px;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.logo-image img {
    width: 100px;
    height: auto;
    display: block;
}

.sidebar {
    background-color: #0d0251;
    width: 150px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    outline: white;
}

.home-content {
    display: flex;
    gap: 10px;
}

.home-content1 {
    padding-right: 20px;

}

.home-content2 {
    padding-left: 20px;

}

.main-content {
    min-height: 100vh;
    width: calc(100% - 300px);
    top: 0;
    right: 0px;
    margin: 0px;
    padding: 20px;
    position: absolute;
    outline: white;
}

.introduction {
    font-size: 20px;
    margin-top: 50px;
}